



.stonerLogoTooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -5.2rem;   
  right: -1.5rem;         
  transform: translateY(10px) scale(0);
  transform-origin: bottom center;
  
  background: radial-gradient(#6b4f3f, #3e2c25);
  color: #fbf39a;
  border: 1px solid #d9c7a3;
  border-radius: 10px;
  padding: 0.35rem 1rem;
  font-family: "Itim-Regular";
  font-size: 0.9rem;
  white-space: nowrap;
  opacity: 0;
  transition: 0.25s ease-in-out;
  z-index: 999;
}

/* ============================
   DOWN-POINTING ARROW
   ============================ */
.stonerLogoTooltip::after {
  content: "";
 
  position: absolute;
  top: -2.55rem;   
  right: 3rem;   
  width: 18px;
  height: 12px;
  background-color: #d9c7a3;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  opacity: 0;
  transform: translateY(10px) scale(0);
  transform-origin: top center;
  transition: 0.25s ease-in-out;
  z-index: 998;
}


.stonerLogoTooltip:hover::before,
.stonerLogoTooltip:hover::after {
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* ============================
   MOBILE: HIDE TOOLTIP
   ============================ */
@media (max-width: 685px) {
  .stonerLogoTooltip::before,
  .stonerLogoTooltip::after {
    display: none;
  }
}


.stonerLogo {
  position: absolute;
  bottom: -0.95rem;
  right: -0.75rem;
  z-index: 9999;
  width: 120px !important;
  height: 120px !important; /* ← IMPORTANT */
  border-radius: 50%

}
.stonerLogo:hover {
  
  scale: 0.975;
  transition:
   
    scale 0.5s ease;
}
 
 @media (max-width: 1550px) {
  .stonerLogo {
    scale: 1;
    bottom: 2.5rem;
    right: 2.5rem;  
  }
}

 
