.not-robot-img {
  width: 100px;
  height: auto;
  margin: auto;
  margin-right: 1rem;
  margin-top: 1rem;
  z-index: 1;
}
@media screen and (min-width: 400px) {
  .not-robot-img {
    width: 155px;
    height: auto;
    margin: 0 auto;

  }
}

.notrobot-zone {
  position: relative;
  display: flex;
  margin-top: -14rem;
  width: 100vw;
  bottom: 0;
  left: 0;
  pointer-events: none; /* optional */
}

.notrobot-wrapper {
  background: transparent;
  isolation: isolate; /* THIS is the magic */
}
