.ContactButtonHide {
  visibility: hidden;
  animation: showButton 1.5s ease-in-out 3s forwards;
}

@keyframes showButton {
  to {
    visibility: visible;
  }
}
.HomePageButtonHide {
  visibility: hidden;
  animation: showButton 1.5s ease-in-out 3s forwards;
}

@keyframes showButton {
  to {
    visibility: visible;
  }
}
