.local-artist-wrapper {
  position: relative;
  min-height: 100vh;
  background-image: url("../../Components/UnsplashImageFolder/bwVan1820x1080.webp");
  background-size: cover; /* fills the screen */
  background-position: center -10rem; /* moves image UP by 15rem */
  background-repeat: no-repeat; /* prevents tiling */
  overflow: hidden;
  background-color: #8E8E8E;
}

/* Floating Objects */
.float {
  position: absolute;
  width: 80px;
  opacity: 0.8;
  animation: floaty 10s infinite ease-in-out;
}

.peace-flower {
  top: 10%;
  left: 5%;
  animation-delay: 0s;
}
.sparkle-star {
  top: 40%;
  right: 10%;
  animation-delay: 2s;
}
.groovy-heart {
  bottom: 15%;
  left: 20%;
  animation-delay: 4s;
}

@keyframes floaty {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-25px) rotate(6deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

/* Content Box */
.content-box {
  max-width: 700px;
  margin: auto;
  background: rgba(55, 39, 29, 0.4);
  padding: 10px;
  padding-top: 25px;
  border-radius: 20px;

  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}

/* Typography */
.groovy-title {
  background: linear-gradient(
    to bottom,
    rgba(63, 46, 36, 0.85) 0%,
    /* top lighter */ rgba(51, 35, 25, 0.85) 50%,
    /* middle darker */ rgba(63, 46, 36, 0.85) 100% /* bottom lighter */
  );
  border: 1px solid rgba(46, 90, 44, 0.63); /* Forest Service Green */
  border-radius: 12px;
  box-shadow: 0px 0px 5px 0px #adff2fbf;
  padding: 12px;
  text-align: center;
  margin-bottom: 5px;
  color: #ade0f8;
  animation: wobble 3s infinite ease-in-out;
}

@keyframes wobble {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

.groovy-text {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 20px;

  background: linear-gradient(
    to bottom,
    rgba(63, 46, 36, 0.85) 0%,
    /* top lighter */ rgba(51, 35, 25, 0.85) 50%,
    /* middle darker */ rgba(63, 46, 36, 0.85) 100% /* bottom lighter */
  );
  border: 1px solid rgba(46, 90, 44, 0.63); /* Forest Service Green */
  border-radius: 12px;
  box-shadow: 0px 0px 5px 0px #adff2fbf;
  padding: 12px;
}

.highlight3 {
  background: linear-gradient(
    to bottom,
    rgba(63, 46, 36, 0.85) 0%,
    /* top lighter */ rgba(51, 35, 25, 0.85) 50%,
    /* middle darker */ rgba(63, 46, 36, 0.85) 100% /* bottom lighter */
  );

  border: 1px solid rgba(46, 90, 44, 0.63); /* Forest Service Green */
  border-radius: 12px;
  box-shadow: 0px 0px 5px 0px #adff2fbf;
  padding: 12px;
}

/* List */
.groovy-list {
  list-style: none;

  margin-bottom: 20px;

  background: linear-gradient(
    to bottom,
    rgba(63, 46, 36, 0.85) 0%,
    /* top lighter */ rgba(51, 35, 25, 0.85) 50%,
    /* middle darker */ rgba(63, 46, 36, 0.85) 100% /* bottom lighter */
  );
  border: 1px solid rgba(46, 90, 44, 0.63); /* Forest Service Green */
  border-radius: 12px;
  box-shadow: 0px 0px 5px 0px #adff2fbf;
  padding: 12px;
}

.groovy-list li {
  margin: 10px 0;
}

/* Badge */
.badge {
  margin-top: 30px;
  text-align: center;

  background: linear-gradient(
    to bottom,
    rgba(63, 46, 36, 0.85) 0%,
    /* top lighter */ rgba(51, 35, 25, 0.85) 50%,
    /* middle darker */ rgba(63, 46, 36, 0.85) 100% /* bottom lighter */
  );
  border: 1px solid rgba(46, 90, 44, 0.63); /* Forest Service Green */
  border-radius: 12px;
  box-shadow: 0px 0px 5px 0px #adff2fbf;
  padding: 12px;
}

/* base: up to 400px */
.groovy-title,
.groovy-text,
.groovy-list,
.content-box {
  font-size: 0.75rem;
  color: rgb(249, 234, 174);
  font-family: "Sansita-Regular", sans-serif;
}

/* 400px to 700px */
@media screen and (min-width: 400px) and (max-width: 700px) {
  .content-box {
    padding: 5px;
  }
  .groovy-title,
  .groovy-text,
  .groovy-list,
  .content-box {
    font-size: 1.11rem;
  }
}

/* 700px and up */
@media screen and (min-width: 700px) {
  .groovy-title,
  .groovy-text,
  .groovy-list,
  .content-box {
    font-size: 2rem;
  }
}
.NotRobotGradient {
  border-radius: 100%;
  background: radial-gradient(
    rgba(70, 56, 47, 1) 0%,
    rgba(70, 56, 47, 0.6) 50%,
    rgba(70, 56, 47, 0) 100%
  );
  font-size: 1.3rem;
  background: linear-gradient(
    to bottom,
    rgba(63, 46, 36, 0.85) 0%,
    /* top lighter */ rgba(51, 35, 25, 0.85) 50%,
    /* middle darker */ rgba(63, 46, 36, 0.85) 100% /* bottom lighter */
  );
}

.noZone {
  position: absolute;
  bottom: -36.5px;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(243, 49, 88);
  font-family: "Sansita-Regular", sans-serif;
  font-size: 1.9rem !important;
  border: 1px solid rgba(46, 90, 44, 0.63); /* Forest Service Green */
  border-radius: 8px;
  padding: 0px 2px 0px 2px;
  box-shadow: 0px 0px 5px 0px #adff2fbf;
  background-color: rgba(51, 35, 25, 0.85) ;
  
}
 .hrNoZone {
  border: 1px solid rgba(46, 90, 44, 0.63); /* Forest Service Green */
  border-radius: 8px;
  width: 4%;
  box-shadow: 0px 0px 5px 0px #adff2fbf;
  background-color: rgba(51, 35, 25, 0.85) ;
  padding: 2px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
 }
 .hrNoZoneTop {
  border: 1px solid rgba(46, 90, 44, 0.63); /* Forest Service Green */
  border-radius: 8px;
  width: 4%;
  box-shadow: 0px 0px 5px 0px #adff2fbf;
  background-color: rgba(51, 35, 25, 0.85) ;
  padding: 2px;
  margin: auto;
  margin-bottom: 45px;
  margin-top: 15px;
 }