/* Base */
.weed-leaf {
  position: relative;
  display: flex;
  margin: auto;
  margin-top: 1rem;
  background-color: transparent;
  width: 100px;
  height: 100px;
  z-index: 1;
}

/* Landscape mode */
@media screen and (orientation: landscape) and (max-height: 800px) {
  .weed-leaf {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    z-index: 1;
  }
}

.object-contain {
    height: 100px;
    width: 100px;
     z-index: -1;
}




