.weed-leaf {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: transparent;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and ( min-width: 450px ) {
    .weed-leaf {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
    }
    
}

.object-contain {
    height: 100px;
    width: 100px;
     z-index: -1;
}




