/* Base */
.weed-leaf {
  position: relative;
  display: flex;
  margin: auto;
  margin-top: 1rem;
  background-color: transparent;
  width: fit-content;
  height: auto;
  padding: .5rem 0.5rem;
  z-index: 1;
  border: 1.1px solid rgba(0, 200, 255, 0.1);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 0px 3.5px rgba(0, 200, 255, 0.1);

}

/* Landscape mode */
@media screen and (orientation: landscape) and (max-height: 700px) {
  .weed-leaf {
    position: relative;

    width: 100px;
    height: 100px;
    z-index: 1;
  }
}

.object-contain {
  height: 100px;
  width: 100px;
  z-index: -1;
}


/* Show at sm breakpoint */
@media (min-width: 640px) {
  .weed-leaf {
    margin-top: 2rem;
  }
  .weed-leaf {
    display: block;
  }
}

/* Hide in landscape */
@media screen and (orientation: landscape) and (max-width: 950px) and (max-height: 490px) {
  .weed-leaf {
    position: relative;
  }
}
